p 
{
 	text-align: center;
    font-size: 25px;
    font-style: italic;
    font-family: sans-serif;
    border-bottom: #1b1b1c solid 1px;
}
body 
{
	background-color:#E5E8E8;
	font-family: sans-serif;
}